@charset "UTF-8";

@import "bootstrap/bootstrap";

/* +++++ Bootstrap variables START +++++ */
@body-bg:       #000;
@text-color:    @gray-lighter;
/* +++++ Bootstrap variables END +++++ */

body {
  margin: 15px;
}
canvas {
  width: 100%;
  height: 100%;
}

.form__value {
  width: 5em;
  display: inline-block;
}

.form__slider {
  margin-top: 10px;
  width: 200px;
  .ui-slider-range {
    background: #008cba;
  }
  /*.ui-slider-handle {
    background: #008cba;
  }*/
}

#moon-shape-container {
  width: 500px;
  height: 500px;
  margin: auto;
}

.footer {
  border-top: solid 1px #eee;
  margin-top: 30px;
  padding-top:15px;
  padding-bottom:15px;
}